@using MVC_API_KALD.Models;

@model ViewModel
<script>

</script>
<style>
    .joke {
        width: 1000px;
    }
</style>
<body id="body">
    <div>
        @using (Html.BeginForm("StoreJokes", "Home", FormMethod.Post))
    {
        <table>
            <tr>
                <td>

                </td>
                <td>
                    <label>Joke</label>
                </td>
                <td>
                    <label>Votes</label>
                </td>
                <td>
                    <label>Vote here</label>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.HiddenFor(x => x.Dadjoke.ID)
                </td>
                <td>
                    @Html.DisplayFor(x => x.Dadjoke.JokeContent, new { @class = "joke" })
                </td>
                <td>
                    @Html.DisplayFor(x => x.Dadjoke.Votes)

                </td>
                <td>
                    <input type="submit" value="Dadjoke" name="Vote" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.HiddenFor(x => x.ChuckNorris.ID)
                </td>
                <td>
                    @Html.DisplayFor(x => x.ChuckNorris.JokeContent, new { @class = "joke" })
                </td>
                <td>
                    @Html.DisplayFor(x => x.ChuckNorris.Votes)

                </td>
                <td>
                    <input type="submit" value="Chuck Norris" name="Vote" />
                </td>
            </tr>
        </table>

}
    </div>
</body>


